name: test

# CINTENT >> MANUAL TRIGGER
# on:
#   push:
#     branches: ["main"]
#     tags: ["*"]
#   pull_request:
#     branches:
#       - "*"
#       - "!gh-pages"
#   schedule:
#     - cron: "0 4 * * MON"
on: [repository_dispatch, workflow_dispatch]

jobs:
  build-test:
    strategy:
      fail-fast: false
      matrix:
        # CINTENT >> REMOVE_MATRIX
        # python-version: ["3.9", "3.10"]
        python-version: ["3.10"]

        os: ["ubuntu-latest"] #, "macos-latest", "windows-latest"]
        pytorch-version: ["1.13"]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    defaults:
      run:
        shell: bash -l {0}

    name: |
      os=${{ matrix.os }}
      - python=${{ matrix.python-version }}
      - pytorch=${{ matrix.pytorch-version }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@a606c80c34ec190c6a20dea33d6d58ddb6c4e0cc

      - name: Setup mamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: env.yml
          environment-name: my_env
          cache-environment: true
          cache-downloads: true
          create-args: >-
            python=${{ matrix.python-version }}
            pytorch=${{ matrix.pytorch-version }}

      - name: Install library
        run: python -m pip install --no-deps .

      - name: Run pytest
        run: pytest

      - name: Run doc building
        run: mkdocs build

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}